<!doctype html>
<html class="no-js" lang="da">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CuraChat</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <!-- build:js www/js/modernizr.js -->
    <script src="/js/modernizr-bower.js"></script>
    <!-- endbuild -->
  </head>
  <body>

  <!-- CONTAINER START-->
  <div class="container">

     <!-- HEADER -->
     <header >
      <div class="row">
        <div class="logo large-3 medium-3 small-3 columns">
          <a href="#">
          <img class="logo_desktop" src="images/logo_desktop.svg" alt="Logo">
          </a>
          <a href="#">
          <img class="logo_mobil" src="images/logo_mobil.svg" alt="Logo-mobil">
          </a>
        </div>

        <!-- NAV-DESKTOP START-->
        <nav class="large-9 columns show-for-large-up" data-magellan-expedition>
          <ul class="desktop">
            <li data-magellan-arrival="services"><a href="#services">Services</a></li>
            <li data-magellan-arrival="team"><a href="#team">Team</a></li>
            <li data-magellan-arrival="partnere"><a href="#partnere">Partnere</a></li>
            <li data-magellan-arrival="priser"><a href="#priser">Priser</a></li>
            <li data-magellan-arrival="om"><a href="#om">Om CuraChat</a></li>
            <li data-magellan-arrival="kontakt"><a href="#kontakt">Kontakt</a></li>
          </ul>
        </nav>
        <!-- NAV-DESKTOP END -->

        <!-- NAV-MOLIBE START-->
        <nav class="large-9 columns hide-for-large-up">
          <div class="right toggle_menu"><a href="#"><span class="icon-toggle_img"></span></a></div>
          <ul class="mobil">
            <li data-magellan-arrival="services"><a href="#services">Services</a></li>
            <li data-magellan-arrival="team"><a href="#team">Team</a></li>
            <li data-magellan-arrival="partnere"><a href="#partnere">Partnere</a></li>
            <li data-magellan-arrival="priser"><a href="#priser">Priser</a></li>
            <li data-magellan-arrival="om"><a href="#om">Om CuraChat</a></li>
            <li data-magellan-arrival="kontakt"><a href="#kontakt">Kontakt</a></li>

          </ul>
        </nav>
        <!-- NAV-MOBILE END -->
      </div>
     </header>
    <div class="space"></div>
      <!-- BANNER -->
      <div class="banner cover">
          <div class="row">
              <div class="text-center small-8 small-centered large-10 large-centered columns"><h1>CuraChat bygger på 10 års praksiserfaring. Vi kalder det nærhed på afstand</h1></div>
              <!-- <img class="large-4 medium-4 columns end"src="images/taleboble.svg" alt="taleboble"> -->
          </div>
      </div>
      <!-- BANNER END -->

      <!-- SERVICES START -->
      <a name="services"></a>
      <section data-magellan-destination="services" class="services">
        <div class="row">
        <h1>Digital rådgivning</h1>
          <div class="large-4 medium-4 columns">
            <img src="images/platform.svg" alt="Platforme ikon">
            <%- partial("text/_services1.md") %>
          </div>


          <div class="large-4 medium-4 columns">
            <img src="images/heart.svg" alt="Hjerte ikon">
            <%- partial("text/_services2.md") %>
          </div>

          <div class="large-4 medium-4 columns">
            <img src="images/lock.svg" alt="Hængelås ikon">
            <%- partial("text/_services3.md") %>
          </div>
        </div>

        <!-- ARROW DOWN -->
        <div class="arrow_down">
          <a id='useBtn' class='produkt' href='#produkt'><img src="../images/arrow_down.svg" alt="arrow_down"></a>
        </div>
      </section>

      <section class="produkt green" id='use' class='produkt'>
        <div class="row">
            <div class="large-12 columns">
              <%- partial("text/_services_text.md") %>
            </div>
          </div>
      </section>
      <!-- SERVICES SLUT -->

      <!-- TEAM -->
       <a name="team"></a>
       <section data-magellan-destination="team" class="staff">
        <div class="row">
          <div class="large-12">
            <%- partial("text/_team.md") %>
          </div>

          <div class="staff-images">

            <div class="large-4 medium-4 columns">
              <img src="images/benjamin.jpg" alt="Benjamin Christensen">
              <p>Benjamin Christensen</p>
              <p class="team_title">Programmør</p>
            <!--   <p class="link"><a href="mailto:jonas@cfdp.dk">jonas@cfdp.dk</a></p> -->
            </div>

            <div class="large-4 medium-4 columns">
              <img src="images/jonass.jpg" alt="Jonas Sindal">
              <p>Jonas Sindal</p>
              <p class="team_title">Udvikler</p>
              <!-- <p class="link"><a href="mailto:jonassindal@cfdp.dk">jonassindal@cfdp.dk</a></p> -->
            </div>

            <div class="large-4 medium-4 columns">
              <img src="images/anni.jpg" alt="Anni">
              <p>Anni Marquard</p>
              <p class="team_title">Leder</p>
              <!-- <p class="link"><a href="mailto:anni@cfdp.dk">anni@cfdp.dk</a></p> -->
            </div>
          </div>
        </div>
      </section>
    <!-- TEAM END -->

    <!-- UDTALELSE -->
    <section class="udtalelse cover2">
      <div class="row">
        <div class="large-12 columns">
          <%- partial("text/_testimonial.md") %>
        </div>
      </div>
    </section>

    <!-- UDTALELSE END -->

    <!-- PARTNERE START -->
    <a name="partnere"></a>
    <section data-magellan-destination="partnere" class="partnere green">
  
      <div class="row">
        <h1>Partnere</h1>

        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li>
            <a class="partner_cyberhus" href="http://www.cyberhus.dk" target="_blank"></a>
          </li>

          <li>
            <a class="partner_netstof" href="http://www.netstof.dk" target="_blank"></a>
          </li>

          <li>
            <a class="partner_cancer" href="http://www.cancer.dk/" target="_blank"></a>
          </li>

          <li>
            <a class="partner_tuba" href="http://www.tuba.dk" target="_blank"></a>
          </li>

          <li>
            <a class="partner_misbrug" href="http://www.misbrugsportalen.dk/" target="_blank"></a>
          </li>
        </ul>
      </div>
    </section>
    <!-- PARTNERE SLUT -->

    <!-- PRICES -->
    <a name="priser"></a>
    <section data-magellan-destination="priser" class="price">
   
      <div class="row">
        <%- partial("text/_price.ejs") %>
      </div>
    </section>

    <!-- PRICES END -->

    <!-- INFO OM CHATTEN -->

    <a name="om"></a>
    <section data-magellan-destination="om" class="info_chat sec-blue">
    
      <div class="row">

        <div class="large-12 columns">
          <%- partial("text/_info_chat.md") %>
        </div>
      </div>

      <div class="row info1">
        <div class="large-6 medium-6 columns"><img src="images/moderation_tools_eng.png" alt="info"></div>
        <div class="large-6 medium-6 columns">
          <%- partial("text/_info_chat1.md") %>
        </div>
      </div>

      <div class="row info2">
        <div class="large-6 medium-6 columns">
          <%- partial("text/_info_chat2.md") %>
        </div>
        <div class="large-6 medium-6 columns"><img src="images/cfdpchatwidget_eng.png" alt="info"></div>
      </div>


    </section>

    <!-- INFO OM CHATTEN END -->

    <!-- KONTAKT START -->

    <a name="kontakt"></a>
    <section data-magellan-destination="kontakt" class="contact">
    
      <div class="row">
        <div class="large-12 columns">
          <%- partial("text/_contact.md") %>
          <form action="/php/mailform.php" method="post">
            <div class="row">
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" name="name" id="name" placeholder="Navn" />
                </label>
              </div>
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" name="phone" id="phone" placeholder="Telefon" />
                </label>
              </div>
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" name="mail" id="mail" placeholder="Email" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <textarea name="msg" id="msg" placeholder="Besked"></textarea>
                </label>
              </div>
            </div>
            <input type="submit" id="submit" value="Send" class="button">
          </form>
        </div>
      </div>
    </section>

    <!-- FOOTTER START-->
    <footer class="sec-blue">
      <div class="row">
        <div class="large-12 columns ">
          <img class="map" src="images/map_mark.svg" alt="Map mark">
          <p class="text-center">
            <a href="https://www.google.dk/maps/place/Vesterport+3/@56.1577385,10.1998982,17z/data=!3m1!4b1!4m2!3m1!1s0x464c3f94a8587d11:0x55bdd106d06314e4" target="_blank">Vesterport 3, 2 th</a>
            <br>
            8000 Aarhus C
            <br>
            Danmark
            <br>
            +45 86 370 400
          </p>
        </div>
      </div>
      <p class="text-center">© 2014 CuraChat - Udviklet af <a class="footer_link" href="http://www.cfdp.dk" target="_blank">Center for Digital Pædagogik</a> & <a class="footer_link"href="#" target="_blank">Benway</a></p>
      <!-- <div class="logos">
        <img src="images/cfdp_man.png" alt="">
        <img src="images/benway.png" alt="">
      </div> -->
    </footer>
    <!-- FOOTER END -->

    <!-- BACK TO TOP -->
    <a href="#" class="back-to-top"><img src="images/arrow_up.svg" alt=""></a>


    </div>
    <!-- WRAPPER END -->

  </div>
  <!-- CONTAINER END -->



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/foundation-bower.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/scrolld.min.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>
