<!doctype html>
<html class="no-js" lang="da">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CuraChat</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <!-- build:js www/js/modernizr.js -->
    <script src="/js/modernizr-bower.js"></script>
    <!-- endbuild -->
  </head>
  <body>

  <!-- CONTAINER START-->
  <div class="container">

     <!-- HEADER -->
     <header>
      <div class="row">
        <div class="logo large-3 medium-3 small-3 columns">
          <a href="#">
          <img class="logo_desktop" src="images/logov4.png" alt="Logo">
          </a>
          <a href="#">
          <img class="logo_mobil" src="images/logo_mobil.png" alt="Logo-mobil">
          </a>
        </div>

        <!-- NAV START-->
        <nav class="large-9 columns">
          <div class="right toggle_menu"><a href="#">&#9776; Menu</a></div>
          <ul class="drop_down">
            <li><a href="menu1" id='menu1Btn'>Produkt</a></li>
            <li><a href="menu2" id='menu2Btn'>Team</a></li>
            <li><a href="menu3" id='menu3Btn'>referencer</a></li>
            <li><a href="menu4" id='menu4Btn'>Priser</a></li>
            <li><a href="menu5" id='menu5Btn'>Om CuraChat</a></li>
            <li><a href="menu6" id='menu6Btn'>Kontakt</a></li>
          </ul>
        </nav>
        <!-- NAV END -->
      </div>
     </header>

      <!-- BANNER -->
      <div class="banner cover">
          <div class="row">
            <div class="large-12 columns fade_in">
              <img class="fade_in_img" src="images/cura-mand.png" alt="taleboble">
              <div class="text-center"><h1 class="fade_in_h1">Digitale <br> rådgivnings-værktøjer</h1></div>
            </div>
          </div>
      </div>
      <!-- BANNER END -->

      <!-- SALGSARGUMENTER -->
      <section class="sales-arguments">
        <div class="row" id="menu1">
          <div class="large-4 medium-4 columns">
            <img src="images/ico4.png" alt="Icon1">
            <%- partial("text/_sales-argument-1.md") %>
          </div>


          <div class="large-4 medium-4 columns">
            <img src="images/ico2.png" alt="Icon1">
            <%- partial("text/_sales-argument-2.md") %>
          </div>

          <div class="large-4 medium-4 columns">
            <img src="images/ico3.png" alt="Icon1">
            <%- partial("text/_sales-argument-3.md") %>
          </div>
        </div>
      </section>
      <!-- SALGSARGUMENTER END -->

      <!-- STATEMENTS START -->
      <section class="statements green">
        <div class="row">
            <div class="large-12 columns">
              <%- partial("text/_statements.md") %>
            </div>
          </div>
      </section>
      <!-- STATEMENTS END -->

      <!-- STAFF -->
      <section class="staff">
        <div class="row" id="menu2">
          <div class="large-12">
            <%- partial("text/_staff.md") %>
          </div>

          <div class="staff-images">

            <div class="large-4 medium-4 columns">
              <img src="images/jonasr.jpg" alt="Jonas Ravn">
              <p>Jonas Ravn</p>
              <p class="link"><a href="mailto:jonas@cfdp.dk">jonas@cfdp.dk</a></p>
            </div>

            <div class="large-4 medium-4 columns">
              <img src="images/jonass.jpg" alt="Jonas Sindal">
              <p>Jonas Sindal</p>

              <p class="link"><a href="mailto:jonassindal@cfdp.dk">jonassindal@cfdp.dk</a></p>
            </div>

            <div class="large-4 medium-4 columns">
              <img src="images/anni.jpg" alt="Anni">
              <p>Anni Marquard</p>
              <p class="link"><a href="mailto:anni@cfdp.dk">anni@cfdp.dk</a></p>
            </div>
          </div>
        </div>
      </section>
    <!-- STAFF END -->

    <!-- UDTALELSE -->
    <section class="udtalelse cover2">
      <div class="row">
        <div class="large-12 columns">
          <%- partial("text/_testimonial.md") %>
        </div>
      </div>
    </section>

    <!-- UDTALELSE END -->

    <!-- REFERENCER START -->
    <section class="referencer green">
      <div class="row" id="menu3">
        <h1>Referencer</h1>
        <div class="large-4 columns">
          <img src="images/cfdp_ref.png" alt="CFDP">
        </div>

        <div class="large-4 columns">
          <img src="images/netstof_ref.png" alt="netstof">
        </div>

        <div class="large-4 columns">
          <img src="images/oerestad_ref.png" alt="ØRESTAD">
        </div>
      </div>
    </section>
    <!-- REFERENCE SLUT -->

    <!-- PRICES -->
    <section class="price">
      <div class="row" id="menu4">
        <%- partial("text/_price.ejs") %>
      </div>
    </section>

    <!-- PRICES END -->

    <!-- INFO OM CHATTEN -->

    <section class="info_chat sec-blue">
      <div class="row" id="menu5">

        <div class="large-12 columns">
          <%- partial("text/_info_chat.md") %>
        </div>
      </div>

      <div class="row info1">
        <div class="large-6 medium-6 columns"><img src="images/info1.png" alt="info"></div>
        <div class="large-6 medium-6 columns">
          <%- partial("text/_info_chat1.md") %>
          <div class="button">Læs mere</div>
        </div>
      </div>

      <div class="row info2">
        <div class="large-6 medium-6 columns">
          <%- partial("text/_info_chat2.md") %>
          <div class="button">Læs mere</div>
        </div>
        <div class="large-6 medium-6 columns"><img src="images/info1.png" alt="info"></div>
      </div>


    </section>

    <!-- INFO OM CHATTEN END -->

    <!-- KONTAKT START -->

    <section class="contact">
      <div class="row" id="menu6">
        <div class="large-12 columns">
          <%- partial("text/_contact.md") %>
          <form action="">
            <div class="row">
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" placeholder="Navn" />
                </label>
              </div>
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" placeholder="Telefon" />
                </label>
              </div>
              <div class="large-4 medium-6 columns">
                <label>
                  <input type="text" placeholder="Email" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <textarea placeholder="Besked"></textarea>
                </label>
              </div>
            </div>
            <div class="button">Send</div>
          </form>
        </div>
      </div>
    </section>

    <!-- FOOTTER START-->
    <footer class="sec-blue">
      <div class="row">
        <div class="large-12 columns ">
          <img class="map" src="images/map_mark3.png" alt="Map mark">
          <p class="text-center">
            <a href="https://www.google.dk/maps/place/Vesterport+3/@56.1577385,10.1998982,17z/data=!3m1!4b1!4m2!3m1!1s0x464c3f94a8587d11:0x55bdd106d06314e4" target="_blank">Vesterport 3, 2 th</a>
            <br>
            8000 Aarhus C
            <br>
            Danmark
            <br>
            +45 86 370 400
          </p>
        </div>
      </div>
      <p class="text-center">© 2014 CuraChat - Udviklet af <a class="footer_link" href="http://www.cfdp.dk" target="_blank">Center for digital pædagogik</a> & <a class="footer_link"href="#" target="_blank">Benway</a></p>
      <!-- <div class="logos">
        <img src="images/cfdp_man.png" alt="">
        <img src="images/benway.png" alt="">
      </div> -->
    </footer>
    <!-- FOOTER END -->

    <!-- BACK TO TOP -->
    <a href="#" class="back-to-top"><img src="images/arrow_up.png" alt=""></a>


    </div>
    <!-- WRAPPER END -->

  </div>
  <!-- CONTAINER END -->



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/foundation-bower.js"></script>
    <script src="/js/BackToTop.js"></script>
    <script src="/js/scrolld.min.js"></script>

    <script src="js/app.js"></script>
  </body>
</html>
